GEMINI_API_KEY=
NOTION_TOKEN=
MCP_SERVER_URL=http://localhost:3001/mcp
NOTION_CONTACTS_DB_ID=
NOTION_DEALS_DB_ID=
NOTION_ACTIVITIES_DB_ID=
NOTION_COMPANIES_DB_ID=
NOTION_CONTACTS_DS_ID=
NOTION_DEALS_DS_ID=
NOTION_ACTIVITIES_DS_ID=
NOTION_COMPANIES_DS_ID=
